<div class="card border-light">
  <div class="card-title mt-3 mb-0">
    <div class="h2 text-capitalize text-center">Lista de {{model.user}}</div>
  </div>
  <div class="card-body">
    <table class="table table-striped table-hover table-sm">
      <thead>
      <tr class="row">
        <th class="col-8">encab1</th>
        <th class="col-4">encab2</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row" *ngFor="let item of model.items">
        <td class="col-6">{{item.action}}</td>
        <td class="col-3"><input type="checkbox" [(ngModel)]="item.done"></td>
        <td class="col-3">{{item.done}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
